@import url('https://fonts.googleapis.com/css2? family= Barlow & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Noto+Sans:wght@400;700&family=Poppins:wght@100&family=Ranchers&family=Redressed&family=Roboto&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html{
    width: 100vw;
    height: 100vw;
}

body{
    font-family: 'Barlow', sans-serif;
    background: linear-gradient(rgba(17,17,17,0.8), rgba(20,20,20,1)), url(https://img.freepik.com/vetores-gratis/formula-matematica-calculo-matematico-no-quadro-negro-da-escola-algebra-e-geometria-ciencia-giz-padrao-conceito-educacao-vetorial-analise-cientifica-calculo-de-numeros-conhecimento-complexo_102902-3216.jpg?w=2000);
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0 0px 5px rgba(0,0,0,0.3);
    padding: 30px 4%;
    background-color: rgba(0,0,0,.75);
}
div .logo h1{

    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    color: #e50914;
    margin-left: 40px;
    margin-top: 19px;
    font-size: 70px;
    cursor: pointer;
  
}

form h2{
    font-size: 2.5rem;
    color: #fff;
}

label.lab_log1{
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgba(100,100,100);
}

.div-inputs-log1 .inputs:focus ~ .lab_log1,
.div-inputs-log1 .inputs:valid ~ .lab_log1{
    transform: translateY(-33px);
    transition: .9s;
    font-size: 12px;
    color: #fff;
}

label.lab_log2{
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgba(100,100,100);
}

.div-inputs-log1 .inputs:focus ~ .lab_log2,
.div-inputs-log1 .inputs:valid ~ .lab_log2{
    transform: translateY(-33px);
    transition: .9s;
    font-size: 12px;
    color: #fff;
}

.div-inputs-log1 .inputs:focus,
.div-inputs-log1 .inputs:valid{
    border-bottom: 2px solid #e50914;
}

.div-inputs-log1{
    position: relative;
    margin: 35px 0;
}

.inputs{
    width: 100%;
    padding: 5px;
    height: 50px;
    border: 0;
    border-bottom: 2px solid rgba(200,200,200);
    outline: 0;
    background-color: #333;
    border-radius: 4px;
}

.div-inputs-log1 input:focus{
    color: #fff;
}

.text1{
    color: rgba(100,100,100);
}
.text1 a{
    color: #fff;
    font-size: 12px;
}
.text1 a:hover{
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

.btn-log{
    background: #e50914;
    color: #ffff;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0 10px 0;
    cursor: pointer;
    border: none;
}

.btn-log:hover{
    transition: .5s;
    background-color: #a50b13;

}